<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/assets/style.css" type="text/css" />
</head>
<body>
	<h1>Person: <%= person.firstname + " " + person.lastname %></h1>
	<h2>Address: <%= person.address %></h2>
	<a href="../">Return Home</a>
</body>
</html>